html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Macondo', cursive;
    width: 100%;
    height: 100%;
}

.bucket{
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to bottom right, #DD95F7 0%, #9AADF9 50%, #7FC9D9 100%
    );
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        ". header ."
        ". main ."
        ". . .";
}

header{
    color: #FFF;
    grid-area: header;
    display: grid;
    place-items: center;
}

.image{
    width: 80%;
    height: 80%;
    grid-area: image;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.main{
    grid-area: main;
}

.weRow{
    cursor: pointer;
}

