*{
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Macondo', cursive;
    width: 100%;
    height: 100%;
}

.bg {
    background: url("../images/createimage.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Staatliches', cursive;

}

.form-container{
    background: #fff;
}