<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/events.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<div class="bucket">
    <!--    <img class="image" th:src="@{images/p.jpg}" alt="Weather"/>-->
    <header>
        <h1>Weather Logger</h1>
    </header>

    <div class="main">
        <a th:href="@{/create}" class="link-primary">Make a new event here.</a>
        <table class="table table-dark">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Location</th>
                <th scope="col">Temperature</th>
                <th scope="col">Date</th>
                <th scope="col">Comment</th>
            </thead>
            <tbody>
            <tr th:each="event: ${weatherEvents}" th:class="weRow">
                <td th:text="${event.getId()}"></td>
                <td th:text="${event.getLocation()}"></td>
                <td th:text="${event.getTemperature()}"></td>
                <td th:text="${event.getDate()}"></td>
                <td th:text="${event.getComment()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{js/events.js}"></script>
</body>
</html>